.searchBox { width: 90%;
align-content: start;
margin-top: 2rem;
height: 3rem;
border-start-start-radius: 2rem;
border-start-end-radius: 2rem;
font-size: 1.7rem;
font-weight: bold;
text-indent: 2.1em;
border-bottom: none !important;
background-color: #ff8000;
color: white;


}

.searchBox:focus {
    outline: none;
}

.resultsContainer {

    background-color: aliceblue;
}

ul {
    list-style: none;
    background-color: #ff8000;
    text-align: left;
    margin-left: 2.2rem;
    width: 85.2%;
    margin-top: -0.1rem;
    border-end-end-radius: 2rem;
    border-end-start-radius: 2rem;
    text-indent: 1em;
}